<!--<div class="container-fluid px-0" style="height: 100vh">-->
<!--  <nav class="navbar navbar-light" style="background-color: #e3f2fd; height: 10%;">-->
<!--    <button class="btn btn-outline-success me-2" type="button" [routerLink]="['']">Main button</button>-->
<!--    <button class="btn btn-outline-success me-2" type="button" [routerLink]="['package-list']">Main button</button>-->
<!--    <button class="btn btn-outline-success me-2" type="button">Main button</button>-->
<!--  </nav>-->

<!--  <div class="row justify-content-center" style="height: 100%; background-color: antiquewhite">-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--  </div>-->
<!--</div>-->
