<div class="container-fluid">
  <div class="row">
    <div class="col-3 bg-secondary">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, nesciunt!
    </div>

    <div class="col-6">
      <div class="row justify-content-center">
        <div class="btn btn-primary">
          Facebook
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Icon</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">Icon</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="row justify-content-center">
        <div class="btn btn-primary">
          Đăng nhập
        </div>
      </div>
    </div>

    <div class="col-3 bg-secondary">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aspernatur.
      <span class="badge badge-primary badge-pill">14</span>
    </div>
  </div>
</div>
