<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>

<body>
<div th:replace="fragments :: nav_top">

</div>
<h3>Contract Manager</h3>

<section>
    <nav id="nav_left">
        <ul>
            <li><a href="/">Contract list</a></li>
            <li><a href="/contract/create">Create contract</a></li>
        </ul>
    </nav>
    <article>
        <div id="form">
            <form th:action="@{/contract/edit}" th:object="${contract}"
                  method="POST" novalidate="novalidate">
                <input type="hidden" th:field="*{contractId}"/>
                <input type="hidden" th:field="*{contractCode}"/>

                <div class="form-group col-md-6">
                    <label>Customer</label>
                    <select class="form-control js-example-basic-single" th:field="*{contractType}">
                        <option value="Đất">Đất</option>
                        <option value="Nhà và Đất">Nhà và Đất</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Date</label>
                    <input type="date" class="form-control" th:field="*{contractDate}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('contractDate')}" th:errors="*{contractDate}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Cost</label>
                    <input type="number" class="form-control" th:field="*{contractCost}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('contractCost')}" th:errors="*{contractCost}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Area</label>
                    <input type="number" class="form-control" th:field="*{contractArea}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('contractArea')}" th:errors="*{contractArea}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Customer</label>
                    <select class="form-control js-example-basic-single" th:field="*{customer}">
                        <option th:each="customer : ${customers}"
                                th:value="${customer.customerId}"
                                th:text="${customer.customerName}"></option>
                    </select>
                </div>
                <input type="submit" value="Edit">
            </form>
        </div>
    </article>
</section>
<footer th:replace="fragments :: footer">

</footer>
</body>
</html>